<link rel="stylesheet" href="./style.css" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower">

<div class="user-container">
    <h1> Hire Our Crews! </h1>
    {{#users}}
    <div class="users">
        <img src="{{avatar}}">
        <p>{{name}}</p>
        {{#job}} {{job}} {{company}} {{/job}} {{^job}}
        <div id="hire">Avilable for hire</div> {{/job}}
    </div>
    {{/users}}
</div>
<div class="user-container-full">
    {{#users}}
    <div class="users-full">
        <img src="{{avatar}}">
        <div class="head-top">
            <h1>{{name}}</h1>
            {{#address.city}}
            <p>{{address.country}}, {{address.city}} | {{#job}} {{job}} {{company}} {{/job}} {{^job}}
                <div id="hire">Avilable for hire</div> {{/job}} {{/address.city}}
                <div class="email-phone">{{email}} | {{phone}}</div>
        </div>
        <div class="head-bottom">
            {{#university}}
            <p>Education: {{university}}</p>
            {{/university}} {{^university}} {{/university}}
            <p>Skills: {{skills}}</p>
        </div>
    </div>
    {{/users}}
</div>